* {
    padding: 0px;
    margin: 0px;
}

#loading {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 3px #af0;
    box-shadow: 0px 0px 3px 3px #af0;
    
    font-size: 80px;
    margin: 100px;
    padding: 50px;
    width: 500px;
    background-color: #ff6;
}

#gamePanel {
    width: 100%;
    height: 100%;
    
    display: none;
}

#content {
    background-color: #000;
}

#container {
    margin: 0px auto;
    
    background-color: #666;
    cursor: none;
}

#jwaPanel, #audioTagPanel {
    display: none;
}

#control {
    position: absolute;
    left: 20px;
    top: 70px;
    text-align: center;
}

.button {
    padding: 10px 10px;
    margin-top: 10px;
    background-color: #ff6;
    cursor: pointer;
    width: 150px;
    
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 3px #af0;
    box-shadow: 0px 0px 3px 3px #af0;
}

.button:hover {
   background-color: #af0 !important;
}

.centerInfo {
    position: absolute;
    background-color: #ff6;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 50px;
    display: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(256, 256, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 3px #af0;
    box-shadow: 0px 0px 3px 3px #af0;
}

#gameOver {
    width: 200px;
    height: 100px;
}

#creditsPanel {
    width: 500px;
    height: 300px;
}
